body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Jua', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1DB954;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}

.search-bar button {
    border: none;
    background: none;
    padding: 0 5px;
    cursor: pointer;
}

.search-bar img {
    width: 20px;
    height: 20px;
}

.menu button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu img {
    width: 25px;
    height: 25px;
}

.main-content {
    width: 70%; 
    margin: 20px auto;
    padding: 10px 20px 30px 20px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box; 
}


.musicfield {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px; 
    margin-top: 20px; 
    padding: 10px;
    background-color: #f9f9f9; 
    border-radius: 10px; 
}


.side-menu {
    position: fixed;
    top: 0;
    right: -350px; 
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

.side-menu.active {
    right: 0; 
}

#close-menu {
    font-size: 1.5em;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.side-menu h3 {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 15px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li button {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    width: 100%;
}

.side-menu ul li button:hover {
    background-color: #218838;
}

#playlist-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#playlist-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

iframe {
    width: 300px;
    height: 380px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.namebackground {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
}

.namebackground h3{
    padding-left: 100px;
}

.namebackground img{
    left: auto;
}
.needlogin{
    color: #000;
}

.loginbtn{
    padding: 20px 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DB954;
    border-radius: 50px;
    cursor: pointer;
}

.logout-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff5555;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #ff3333;
}

.track-list {
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto; /* 카드가 많아지면 스크롤 가능 */
    padding: 10px;
    box-sizing: border-box;
}

.track-card {
    background-color: #1DB954; 
    border-radius: 15px;
    padding: 20px;
    width: 250px; 
    height: 420px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}


.rank {
    color: #f4f4f4;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0 5px 0;
    text-align: left;
    align-self: flex-start; 
}


.album-art {
    align-self: center;
    margin-bottom: 10px;
}

.album-art img {
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #f4f4f4;
}

.track-info {
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    text-align: left; 
    padding: 0 10px; 
}

.music-name {
    color: #f4f4f4;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5px 0;
}

.artist-name {
    color: #f4f4f4;
    font-size: 0.9rem;
    margin: 3px 0;
}

.album-name {
    color: #f4f4f4;
    font-size: 0.9rem;
    margin: 3px 0 10px 0;
}
