<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackTracer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        
        <div class="logo">
            <h1>TrackTracer</h1>
        </div>
        

        <div class="menu">
            <button id="open-menu-button">
                <img src="{{ url_for('static', filename='image/menu-icon.png') }}" alt="Menu">
            </button>
        </div>
        
        <div id="side-menu" class="side-menu">
            {% if user %}
            <button id="close-menu"></button>
            <div class="namebackground">
                <img src="{{ url_for('static', filename='image/SpotifyLogo.png') }}" alt="SpotifyLogo">
                <h2>{{ user['display_name'] }}</h2>
            </div>
            <!--
            <div class="search-bar">
                <form id="search-form" onsubmit="performSearch(event)">
                    <input type="text" id="search-query" placeholder="검색">
                    <button type="submit">
                        <img src="{{ url_for('static', filename='image/search-icon.png') }}" alt="Search">
                    </button>
                </form>
            </div>
            -->

            <a href="/logout" class="logout-btn">Logout</a>
            {% else %}
            <button class="loginbtn" onclick="location.href='/login'"><h3>Login with Spotify</h3></button>
      
            {% endif %}
        </div>
    </header>
    
    
    <main class="music-container">
        {% for track in tracks %}
        <div class="music-info">
            <div class="track-rank">{{ track.rank }}</div>
            <div class="track-details">
                <h2 class="track-title">{{ track.name }}</h2>
                <p class="artist-name">{{ track.artists }}</p>
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
            </div>
            <div class="controls">
                <button class="prev-music">Prev Music</button>
                <button class="play-pause">&#9658;</button>
                <button class="next-music">Next Music</button>
            </div>
        </div>
        {% endfor %}
    </main>
    
    </main>
    <script src="{{ url_for('static', filename='../static/script.js') }}"></script>
</body>
</html>
