<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackTracer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>TrackTracer</h1>
        </div>
        <div class="search-bar">
            <form id="search-form" onsubmit="performSearch(event)">
                <input type="text" id="search-query" placeholder="검색">
                <button type="submit">
                    <img src="{{ url_for('static', filename='image/search-icon.png') }}" alt="Search">
                </button>
            </form>
        </div>
        <div class="menu">
            <button id="open-menu-button">
                <img src="{{ url_for('static', filename='image/menu-icon.png') }}" alt="Menu">
            </button>
        </div>
        <div id="side-menu" class="side-menu">
            {% if user %}
            <button id="close-menu"></button>
            <div class="namebackground">
                <img src="{{ url_for('static', filename='image/SpotifyLogo46.png') }}" alt="SpotifyLogo">
                <h3>{{ user['display_name'] }}</h3>
            </div>
            <h3>My Play List</h3>
            <hr>
            <div class="right">
                <ul>
                    {% for playlist in playlists %}
                    <li>
                        <button class="playlist-button" onclick="togglePlaylist('{{ playlist.id }}')">
                            {{ playlist.name }}
                        </button>
                        <div id="playlist-{{ playlist.id }}" class="playlist-details" style="display: none;">
                            <iframe src="https://open.spotify.com/embed/playlist/{{ playlist.id }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <a href="/logout" class="logout-btn">Logout</a>
            {% else %}
            <button class="loginbtn" onclick="location.href='/login'">Login with Spotify</button>
            <h3>My Play List</h3>
            <hr>
            <p class="needlogin">현재 정보를 불러올수 없습니다. <br> 로그인이 필요합니다.</p>
            {% endif %}
        </div>
    </header>
    
    <main class="main-content">
        <h2>가장 많이 재생한 곡</h2>
        <hr style="border:0; height:1px; background: #000;">
        <div class="musicfield">
            {% if tracks %}
            <div class="track-list">
                {% for track in tracks %}
                <div class="track-card">
                    <h3 class="rank">{{ track.rank }}{{ "st" if track.rank == 1 else "nd" if track.rank == 2 else "rd" if track.rank == 3 else "th" }}</h3>
                    <div class="album-art">
                        {% if track.album_image %}
                        <img src="{{ track.album_image }}" alt="{{ track.album }}" />
                        {% else %}
                        <img src="https://via.placeholder.com/150" alt="No Album Art" />
                        {% endif %}
                    </div>
                    <div class="track-info">
                        <h4 class="music-name">{{ track.name }}</h4>
                        <p class="artist-name">Artists : {{ track.artists }}</p>
                        <p class="album-name">Album : {{ track.album }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No top tracks available.</p>
            {% endif %}
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='../static/script.js') }}"></script>
</body>
</html>
